{% import "../components/button.njk" as Button %}

<div class="promo-block">
    <div class="promo-block__content">
        <div class="promo-block__trend">NEW TREND</div>
        <h1 class="promo-block__title">COLLUSION</h1>
        <p class="promo-block__description">An exclusive selection of this season's trends.</p>
        <div class="promo-block__buttons">
            {{ Button.button('DISCOVER', 'dark') }}
            {{ Button.button('SHOP NOW', 'dark') }}
        </div>
    </div>
</div>
