{% import "../components/button.njk" as Button %}

<div class="tachen19-block">
    <div class="tachen19-block__content">
        <div class="tachen19-block__trend">OWN THE DAY</div>
        <h1 class="tachen19-block__title">TACHEN 19</h1>
        <div class="tachen19-block__buttons">
            {{ Button.button('SHOP COLLECTION', 'dark') }}
        </div>
    </div>
</div>
