{% import '../components/product-card.njk' as productCard %}

<section class="women-fashion">
  <h1>WOMEN’S FASHION</h1>
  <p class="intro-text">Shop our new arrivals from established brands</p>
  <div class="products-grid">
    {{ productCard.productCard({
      imageSrc: "../img/WF-1.png",
      altText: "WF-1",
      priceOld: "$229.00",
      priceNew: "$129.00"
    }) }}
    {{ productCard.productCard({
      imageSrc: "../img/WF-2.png",
      altText: "WF-2",
      priceOld: "$229.00",
      priceNew: "$129.00"
    }) }}
    {{ productCard.productCard({
      imageSrc: "../img/WF-3.png",
      altText: "WF-3",
      priceOld: "$229.00",
      priceNew: "$129.00"
    }) }}
    {{ productCard.productCard({
      imageSrc: "../img/WF-4.png",
      altText: "WF-4",
      priceOld: "$229.00",
      priceNew: "$129.00"
    }) }}
  </div>
</section>
