{% macro productCard(product) %}
    <div class="product-card">
        <img src="{{ product.imageSrc }}" alt="{{ product.altText }}" class="product-image" />
        <div class="product-info">
            <p class="product-title">FIGURE</p>
            <p class="product-name">GREEN MUSCLE FIT POLO SHIRT</p>
            <div class="product-prices">
                <span class="price-old">{{ product.priceOld }}</span>
                <span class="price-new">{{ product.priceNew }}</span>
            </div>
        </div>
    </div>
{% endmacro %}
